fastapi==0.63.0
joblib==1.0.0
lightgbm==3.1.1
numpy==1.19.1
pandas
parso
pickleshare
prompt-toolkit
pydantic==1.7.3
requests==2.25.1
scikit-learn
scipy
sklearn
starlette
threadpoolctl
tornado
traitlets
urllib3
uvicorn==0.13.3
